#componentwebchecker{
    padding: 5px;
}
#componentwebchecker label, #componentwebchecker input
{
	float: left;
}
#componentwebchecker label
{
	width: 100px;
}
#componentwebchecker select, #componentwebchecker input
{
	width: 200px;
}
#componentwebchecker table
{
	width: 300px;
	clear: both;
}
#componentwebchecker table td:last-child
{
	width: 50px;
	text-align: center;
}
#componentwebchecker input[type=radio]
{
	float: none;
	width: auto;
	vertical-align: middle;
	margin: 0px;
}
#componentwebchecker input[type=button]
{
	width: 300px;
}
#componentwebchecker form div
{
	padding: 10px 0px;
	clear: both;
}
#componentwebchecker td
{
	border: solid 1px #000;
}
#componentwebchecker .successful
{
	background: rgba(0,255,0,0.5);
}
#componentwebchecker .failed
{
	background: rgba(255,0,0,0.5);
}